@use 'colors';

// Content - About and Contact page
.content__about {
    display: flex;
    background-color: colors.$background;
    justify-content: space-between;
    padding: 10px;
    gap: 10px;

    .about, .contact {
        flex: 1 1 50%;
        text-align: center;
        background-color: colors.$c-box;
        border-radius: 20px;
        padding: 30px;
        margin: 10px;
        line-height: 2;
    }

    .contact__photo  {
        width: 100%;
        height: auto;
    }
    
    .contact__detail img {
        padding: 20px;
    }
    .contact__message {
        background-color: colors.$c-box;
        padding: 20px;
        margin: 0 auto;   
    }

    textarea {
        width: 90%;
        height: 200px;
        margin: 30px;
        border: 2px solid colors.$c-button;
        border-radius: 20px;
      }
}
