@use 'colors';

// Content - About and Contact page
.content__about {
    display: flex;
    background-color: colors.$background;
    justify-content: space-between;
    padding: 10px;
    gap: 10px;

    .about, .contact {
        flex: 1 1 50%;
        text-align: center;
        background-color: colors.$c-box;
        border-radius: 20px;
        padding: 30px;
        margin: 10px;
        line-height: 2;
    }

    .contact__photo  {
        width: 100%;
        height: auto;
        border-radius: 0 0 20px 20px;
    }
    
    .contact__detail img {
        padding: 20px;
    }
    .contact__message {
        background-color: colors.$c-box;
        padding: 40px 20px 20px 20px;
        margin: 0 auto;   
        border-top: 1px solid colors.$c-text;
    }
    .contact__info .signature {
        font-family: Paytone one, sans-serif;
        font-size: 24px;
        font-style: italic;
        letter-spacing: 1px;
    }

    textarea {
        width: 90%;
        height: 300px;
        margin: 30px;
        border: 2px solid colors.$c-button;
        border-radius: 20px;
      }
}
