<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{ title }} </title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Paytone+One&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="/css/style.css">

</head>

<body>
    
    <div class="header__top">
        <div class="header__left">
            <img class="header__logo" src="/images/sunrise logo.png" alt="Logo">
            <img class="header__title" src="/images/Rocky Rides.jpg" alt="Rocky Riders">
        </div>

        <div class="header__right">
            <p class="quote">“Local Expertise, <br>
                Global Experience”</p>

            <button class="button"><a href="/booking" style="text-decoration: none; color: inherit;">BOOK NOW</a></button>

        </div>
    </div>

        <div class="menu__all">
            <nav class="menu">
                <ul class="menu__list">
                    <li class="menu__item"><a href="/" class="menu__link">Welcome</a></li>
                    <li class="menu__item"><a href="/tours/" class="menu__link">Tours</a></li>
                    <li class="menu__item"><a href="/booking/" class="menu__link">Booking</a></li>
                    <li class="menu__item"><a href="/about/" class="menu__link">About us | Contact</a></li>
                </ul>
            </nav>
            <img class="menu__banner" src="/images/Welcome - first word.jpg" alt="Welcome">
        </div>

    <main class="main">

        {{ content | safe }}

    </main>


           <!--Footer-->
    <footer class="footer">
        Rocky Rides, 2024
    </footer>


</body>
</html>